<mat-card class="addNewSkill">
    <mat-card-title>Add Skill</mat-card-title>
    <mat-content>
        <form [formGroup]="addSkillForm" (submit)="createSkill()">
          <p>
            <mat-form-field appearance="fill">
              <mat-label>Select Skill</mat-label>
                <mat-select formControlName="SkillId" [errorStateMatcher]="matcher" (selectionChange)="someMethod($event)">
                  <mat-option *ngFor="let list of dataSource" [value]="list.SkillId">
                      {{list.SkillName}}
                  </mat-option>
              </mat-select>
              <mat-hint>Errors appear instantly!</mat-hint>
              <mat-error *ngIf="addSkillForm.hasError('required')">You must make a selection</mat-error>
              <mat-error *ngIf="addSkillForm.hasError('pattern') && !addSkillForm.hasError('required')">
                Your selection is invalid
              </mat-error>
            </mat-form-field>
          </p>
          <p>
            <mat-label>Skill Level</mat-label>
            <mat-divider class="classdivider"></mat-divider>
                <mat-slider 
                  thumbLabel
                  [displayWith]="formatLabel"
                  tickInterval="1000"
                  step="1"
                  min="1"
                  max="4"
                  aria-label="units" formControlName="SkillLevel">
                </mat-slider>     
            
          </p>
          <p>
            <mat-form-field appearance="fill">
              <mat-label>Select Exp(Yrs)</mat-label>
              <mat-select formControlName="SkillYrsOfExp">
                <mat-option *ngFor="let obj of jsonObject" [value]="obj.id">
                  {{obj.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </p>          
          <p>
            <button mat-raised-button>Add</button>
          </p>
        </form>
    </mat-content>
</mat-card>
